body {
    background-color: #f0f0f0;
    padding-top: 50px;
}

h1 {
    color: black;
    text-align: left;
    padding-left: 30px;
    font-family: serif; /* Matches the font in your image better */
}

.outer-box {
    border: 2px solid black;
    background-color: white;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.inner-box {
    background-color: yellow;
    color: black;
    font-weight: normal; /* Your image text isn't bold */
    font-family: serif; /* Matches the font in your image better */
    padding: 30px;
    border: 40px solid blue;
    margin: 30px;
    text-align: center;
}
