p{
    color:green;
    background-color: burlywood;
}
.p{
    color:darkblue;
    background-color: antiquewhite;
}
#jk{
    font-size: 25px;
}
#box1{
    height: 200px;
    width: 200px;
    background-color: red;
    padding: 20px;
    border: 20px solid black;
}
#box2{
    height: 100px;
    width: 100px;
    background-color: darkgoldenrod;
    padding: 50px;
    border: 10px solid blue;
}
#box3{
    height: 50;
    width: 300px;
    background-color: blueviolet;
    padding: 50px;
    border: 10px solid whitesmoke;
}
#box4{
     height: 75px;
    width: 200px;
    background-color: black;
    padding: 50px;
    border: 50px solid pink;
}
#box5{
    text-align: center;
    height: 30px;
    width: 70;
    background-color: white;
    padding: 80px;
    border: 5px solid black
}